extends ../layout.jade

block content
  div(data-page="conditional/create").container
    div.panel.panel-default
      div.panel-heading: h4 Conditional Builder
      div.panel-body
        div.row.col-sm-16
          div(id="conditionals")
            div(style="display:inline-block")

              form(name='description')
                h4 Description

                div.form-group
                  input.form-control(type='description',name='description',placeholder='Please enter a description for bin', required='')

              h4 Conditionals

              form.form-inline.block(name="conditional",data-type="conditional",style="display:inline-block")
                div.form-group.pair
                  //  Row 1 field {drop,opt:key} match {op,expression}
                  div.input-group-inline.multi
                    select.form-control.field-source
                      for item in ['header','cookie','body','full url','protocol','domain','url path','port','request type','query string']
                        option(value=item.val||item.text||item) #{item.text||item}
                    input.form-control.field-key(type='text', name='field', placeholder='field', required='true')

                    select.form-control.match-operation
                      for item in ['regex','contains','starts with','ends with','exact','less than','greater than','one of']
                        option(value=item.val||item.text||item) #{item.text||item}
                      input.form-control(type='text', name='expression', placeholder='expression', required='true', size="90%")

                  //  Row 2, needs to use col-xs-## or something similar
                  div.input-group.multi
                    span.input-group-addon Target Url
                    input.form-control(id="targetUrl", type='text', name='targetUrl', placeholder='target url', title="Target url should be a relative path to the bin or conditional that should be loaded.  Please do not add the protocol or domain", required='', size="131%")

                span.input-group-btn(style="display:inline-block")
                  button(type='button', tabindex='-1',style="display:block").btn.btn-success: i.glyphicon.glyphicon-plus
                  button(type='button', tabindex='-1',style="display:block").btn.btn-danger: i.glyphicon.glyphicon-remove
                p
                br

          form.form-inline(name='default',data-type="default")
            div.form-group
              div.input-group.multi
                span.input-group-addon Default
                input.form-control(type='text', name='targetUrl', placeholder='target url',required='',size="100%")

      div.panel-footer
        div.row
          div.col-sm-4
          div.col-sm-6

          div.col-sm-2
            form(method="POST", action="/conditional/create")
              input(type='hidden', name='response', value='')
              button(type='submit').btn.btn-primary.btn-block Create Conditional

block scripts
  // script(type='text/javascript', src='/static/bin/create.js')
  // need logic for packaging up and sending
  // need logic for adding/removing conditionals with +/- buttons
  script(type='text/javascript', src='/static/conditional/create.js')
